<div class="container">
    <form [formGroup]="loginForm">
        {{message}}

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>UserName</label>
                    <input type="text" class="form-control" formControlName="UserName" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control" formControlName="Password" />
                </div>
            </div>
        </div>
        <div>     
        <button class="btn btn-primary" (click)="login()">Login</button>
        </div>
    </form>
</div>