<div class="container">
  <table class="table table-dark">
    <thead>
      <tr>
        <th>SNo</th>
        <th>Name</th>
        <th>Email</th>
        <th>PhoneNo</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of students;let i = index">
        <td>{{i+1}}</td>
        <td>{{s.Name}}</td>
        <td>{{s.Email}}</td>
        <td>{{s.PhoneNo}}</td>
        <td>
          <button class="btn btn-danger" (click)="Delete(s.ID)">Delete</button>
        </td>

        <td>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal" (click)="Update(s)">Update</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Student</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="stuUpdateForm">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.Name" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.Email" />
                </div>
              </div>
              </div>
              <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>PhoneNo</label>
                  <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.PhoneNo" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="EditForm()">Update</button>
      </div>
    </div>

  </div>
</div>